.check {
    font-family: "Poppins", sans-serif;
    width: 1200px;
    margin: 0 auto;
    margin-top: 100px;

    a {
        text-decoration: none;
    }

    .home-check {
        display: flex;
        gap: 5px;    
        .checkshop {
          font-weight: 600;
        }
    
        a {
          color: #3d3d3d;
        }
        
    
        a:hover {
          color: rgb(70, 163, 88);
          transition: 0.5s;
        }
      }


      .check-block{
        width: 1200px;
        margin-top: 36px;
        display: flex;
        gap: 78px;


        .left-check{

            .custom-radio {
                width: 321px;
                height: 45px;
                display: flex;
                align-items: center;
                cursor: pointer;
                font-size: 16px;
                color: #222;
                margin-top: 12px;
                border-radius: 3px;
                gap: 6px;
    
              
                input[type="radio"] {
                  display: none;
              
                  &:checked + .checkmark::after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 8px;
                    height: 8px;
                    background-color: rgb(70, 163, 88);
                    border-radius: 50%;
                    transform: translate(-50%, -50%);
                    
                  }
                }
              
                .checkmark {
                  width: 16px;
                  height: 16px;
                  border: 1.2px solid rgb(70, 163, 88);
                  border-radius: 50%;
                  margin-right: 10px;
                  position: relative;
                margin-left: 14px;
                box-sizing: border-box;
                }
        .check-img{
            width: 224px;
            display: flex;
            justify-content: space-between;
            img{
                height: 26px;
    
            }
            .master{
                height: 26px;
                object-fit: cover;
                margin-top: 15px;
    
            }
           
        }
        
              }
            
                    h3{
                        color: rgb(61, 61, 61);
                        font-size: 17px;
                        font-weight: 700;
                    }

                    .oll-check{
                        display: flex;
                        gap: 22px;

                        .component{
                            margin-top: 21px;
                            .com-text{
                                display: flex;
                                gap: 3px;


                                p{
                                    color: rgb(61, 61, 61);
                                    font-size: 15px;
                                    font-weight: 400;
                                }
                                h4{
                                    color: rgb(240, 56, 0);
                                    font-size: 22px;
                                    font-weight: 400;
                                }
                            }
                        }

                        input{
                            width: 350px;
                            height: 40px;
                            box-sizing: border-box;
                            border: 1px solid rgb(234, 234, 234);
                            border-radius: 3px;
                            padding-left: 13px;
                        }

                        
                    }
                    .radio{
                        display: flex;
                        gap: 7px;
                        margin-top: 31px;

                        p{
                            color: rgb(61, 61, 61);
                            font-size: 15px;
                            font-weight: 500;
                            line-height: 16px;
                            letter-spacing: 0%;
                            text-align: left;
                        }


                    }

                    .order{
                        margin-top: 54px;
                        p{
                            color: rgb(61, 61, 61);
                            font-size: 15px;
                            font-weight: 400;
                            line-height: 15px;
                            letter-spacing: 0%;
                            text-align: left;
                        }
                        .div{
                            box-sizing: border-box;
                            border: 1px solid rgb(234, 234, 234);
                            border-radius: 3px;
                            width: 350px;
                            height: 152px;
                            margin-top: 10px;


                        }
                    }

        }

        .right-check{
            
            h3{
                color: rgb(61, 61, 61);
                font-size: 17px;
                font-weight: 700;
                

            }
            .subtotal{
                width: 405px;
                display: flex;
                justify-content: space-between;
                margin-top: 21px;

                p{
                    color: rgb(61, 61, 61);
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 16px;
                }
            }
            .line{
                width: 405px;
                border: 0.3px solid rgba(70, 163, 88, 0.5);
                margin-top: 10px;

            }

            .product1{
                width: 404px;
                height: 70px;
                background: rgb(251, 251, 251);
                margin-top: 10px;
                display: flex;
                align-items: center;

                img{
                    width: 70px;
                    height: 70px;

                }

                .all-daisy{
                    display: flex;
                    flex-direction: column;
                    margin-left: 11px;
                    margin-top: 24px;
                    .pro-daisy{
                        p{
                            color: rgb(61, 61, 61);
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 2px;
                        }
                    }

                    .sku{
                        display: flex;
                        p{
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 16px;
                                color: rgb(165, 165, 165);
                        }
                        span{
                            
                            font-size: 14px;
                            font-weight: 400;
                            line-height: 16px;
                            letter-spacing: 0%;
                            text-align: left;
                            color: rgb(114, 114, 114);

                        }
                    }
                }
                .x2{
                    margin-left: 42px;
                    margin-top: 20px;
                    p{
                        color: rgb(114, 114, 114);
                        font-size: 14px;
                        font-weight: 400;
                    }
                }
                .pro-price{
                    span{
                        color: rgb(70, 163, 88);
                        font-size: 18px;
                        font-weight: 700;
                        margin-left: 37px;
                    }
                }

            }
            .click{
                margin-top: 17px;
                p{
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 16px;
                    letter-spacing: 0%;
                    text-align: right;
                    a{
                        color: rgb(70, 163, 88);
                    }
                }
            }
            .cartochka{
                display: flex;
                width: 321px;
                margin-top: 15px;
                justify-content: space-between;
                margin-left: 75px;

                .ctka-text{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    p{
                        color: rgb(61, 61, 61);
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        
                    }
                }
                .ctka-price{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    

                    p{
                        color: rgb(61, 61, 61);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 16px;

                    }
                    .coupon{
                        color: rgb(61, 61, 61);
                        font-size: 15px;
                        font-weight: 400;
                        line-height: 16px;
                        margin-left: 20px;
                    }
                    h3{
                        color: rgb(61, 61, 61);
                        font-size: 18px;
                        font-weight: 500;
                        line-height: 16px;
                        margin-left: 30px;

                    }

                    
                }

               
                
            }

            .view{
                color: rgb(70, 163, 88);
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                margin-left: 260px;
                margin-top: 6px;
                
            }
          .view-total{
            display: flex;
            justify-content: space-between;
            margin-top: 16px;
            p{
                color: rgb(61, 61, 61);
                font-size: 16px;
                font-weight: 700;
            }
            span{
                color: rgb(70, 163, 88);
                font-size: 18px;
                font-weight: 700;
               
            }
          }

          .custom-radio {
            width: 321px;
            height: 45px;
            display: flex;
            align-items: center;
            cursor: pointer;
            font-size: 16px;
            color: #222;
            margin-top: 12px;
            border: 1px solid rgb(234, 234, 234);
            border-radius: 3px;
            gap: 6px;

          
            input[type="radio"] {
              display: none;
          
              &:checked + .checkmark::after {
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                width: 8px;
                height: 8px;
                background-color: rgb(70, 163, 88);
                border-radius: 50%;
                transform: translate(-50%, -50%);
                
              }
            }
          
            .checkmark {
              width: 16px;
              height: 16px;
              border: 1.2px solid rgb(70, 163, 88);
              border-radius: 50%;
              margin-right: 10px;
              position: relative;
            margin-left: 14px;
            box-sizing: border-box;
            }
    .check-img{
        width: 224px;
        display: flex;
        justify-content: space-between;
        img{
            height: 26px;

        }
        .master{
            height: 26px;
            object-fit: cover;
            margin-top: 15px;

        }
        .paypal{
            height: 56px;
            object-fit: cover;

        }
        .visa{
            height: 26px;
            object-fit: cover;
            margin-top: 15px;

        }
        .american{
            height: 46px;
            margin-top: 6px;
            object-fit: cover;
            
        }
    }
    
          }
          


          
       .place-btn{
        button{
            width: 321px;
            height: 40px;
            border-radius: 3px;
            background: rgb(70, 163, 88);
            color: rgb(255, 255, 255);
            font-size: 15px;
            font-weight: 700;
            line-height: 16px;
            letter-spacing: 0%;
            border: none;
            margin-top: 49px;
        }
        button:hover {
            color: rgb(70, 163, 88);
            background: white;
            border: 1px solid rgb(70, 163, 88);
            transition: 0.5s;
          }
     
      

       }

        }

      }
}