.header {
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 20px;
    background: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    z-index: 999;
    margin: 0 auto;
    a{
        text-decoration: none;
    }
    display: flex;
    height: 53px;
    justify-content: space-between;
    align-items: center;
    font-family: "Poppins", sans-serif;
    margin: 0 auto;

    .lists {
        display: flex;
        gap: 50px;

        .home {
            font-weight: 600;
        }

        a {
            color: #3D3D3D;
            text-decoration: none;
        }

        a:hover {
            color: #46A358;
            transition: 0.5s;
        }
    }

    .search {
        display: flex;
        align-items: center;
        gap: 30px;

        .wishlist {
            position: relative;
    
            .wishlist-badge {
                position: absolute;
                top: -6px;
                right: -11px;
                background-color: #46A358;
                color: #fff;
                border: 2px solid white;
                font-size: 10px;
                font-weight: 600;
                border-radius: 50%;
                width: 18px;
                height: 18px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .login {
            
            button {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 15px;
                width: 100px;
                height: 35px;
                border-radius: 6px;
                background-color: #46A358;
                color: white;
                border: none;
                font-weight: 600;
                cursor: pointer;

                img {
                    width: 20px;
                }
            }

            button:hover {
                transition: 0.8s;
                box-shadow: 0 0 10px 0 #328843;
            }
        }
    }
}